  <div class="form-horizontal">
        <%= form_tag(:action => 'login_attempt') do %>
        <%= text_field_tag(:email, nil, id: 'EmailInput', placeholder: 'Email') %> <br>
        <%= password_field_tag(:password, nil, id:'PasswordInput', placeholder: 'Password') %> <br>
        <%= submit_tag('Log in', class: "btn btn-default") %>
      <% end %>
  </div>
