Edit this project:
<br>
<br>
<%= form_for(:project, :url => {:action => 'update', :id => @project.id}) do |f| %>
  <table>
    <tr>
      <th>Name</th>
      <td><%= f.text_field(:name) %></td>
    </tr>
  </table>
<br>
    <%= submit_tag("Update Project") %>

<% end %>
