<table>
<% @projects.each do |project| %>
    <tr>
      <td><%= project.name %></td>
      <td>
        <%= link_to("Edit", {:action => 'edit', :id => project.id}) %>
        <%= link_to("Delete", {:action => 'delete', :id => project.id}) %>
      </td>
    </tr>
    <% end %>
  </table>
