<%= form_for(:project, :url => {:action => 'create'}) do |f| %>
  <table>
    <tr>
      <th>Project Name</th>
      <td><%= f.text_field(:name) %></td>
    </tr>
  </table>
    <%= submit_tag("Create Project") %>

<% end %>
<br>
<%= link_to "Go back", controller: "public", action: "home" %>
