<p class="text-center">
  Welcome to Projo!
  <br>
  Projo is a simple project management tool designed to
  make collaborating on projects as easy as possible.
  <br>
  Simply sign up, create a new project, add teammates, and get to work!

  <br>
  <br>
  <% #as we are using the older non-resource oriented style, we have to specify an extra hash for our options. %>
  <%= link_to "Sign up", {controller: "users", action: "new"}, class: "btn btn-default" %> or
  <%= link_to "Log in", {controller: "user_access", action: "login"}, class: "btn btn-default" %>
</p>
