<br>
<br>
<footer class="footer">
  <div class="container-fluid">
    <p class='text-center'>Developed by: Lucas Servare
    <br>
    <a href="mailto:#@placeholder.com">Contact information</a>
    </p>
  </div>
</footer>
