<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
        <%= link_to("Projo", {controller: "public", action: "home"}, class:"navbar-brand" ) %>
    </div>
       <ul class="nav navbar-nav navbar-right">
         <li><%= link_to("Sign Up", {controller: "users", action: "new"}) %></li>
         <li><%= link_to(" Log In", {controller: "user_access", action: "login"}) %></li>
       </ul>
  </div>
</nav>
